.highlightedPoster {
  position: relative;
  width: 330px;
  aspect-ratio: 489 / 733.5;
  overflow: hidden;
  border-radius: 10px;
  background: url('/assets/gowok.png') lightgray 0.745px -18.357px / 100% 102.876% no-repeat;
  box-shadow:
    0 0 81.504px 0 #ECE5DA,
    0 0 47.544px 0 #ECE5DA,
    0 0 23.772px 0 #ECE5DA,
    0 0 6.792px 0 #ECE5DA,
    0 0 3.396px 0 #ECE5DA;
}
/* 0 0 142.632px 0 #ECE5DA, */

.posterWrapper {
  position: relative;
  width: var(--Card-Poster_VFX, 280px);
  aspect-ratio: 2 / 3;
  overflow: hidden;
  border-radius: 10px;
  background: url('/assets/darah_nyai.png') lightgray -13.889px -8.391px / 107.117% 102.271% no-repeat;
}

.pictPorto {
  position: relative;
  aspect-ratio: 950 / 534.38;
  overflow: hidden;
  background: url('/assets/darah_nyai_2.png') lightgray 50% / cover no-repeat;
}

.about {
  position: relative;
  aspect-ratio: 784.00/1045.33;
  overflow: hidden;

  border-radius: 10px;
  background: url('/assets/about.jpg') lightgray 50% / cover no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 29.51%,
    rgba(0, 0, 0, 0) 73.83%,
    #0d0d0d 97.97%
  );
}

.logo {
  width: 410.21px;
  height: var(--container-spacing-2-xl, 64px);
  flex-shrink: 0;
  aspect-ratio: 410.21 / 64.00;
  background: url('/assets/VFXlogo.png') lightgray -83.505px -147.81px / 142.645% 514.286% no-repeat;
}

