.breakdown_series_title {
    font-family: var(--font-poppins);
    font-size: var(--text-body);
    text-align: right;
    font-style: normal;
    font-weight: 500;
    line-height: var(--text-lineheight-body);
}