.kategori {
    color: #FFF;
    font-family: var(--font-poppins);
    font-size: var(--text-body);
    font-style: italic;
    font-weight: 500;
    line-height: var(--text-lineheight-body);
    letter-spacing: -0.04px;
}

.available {
    color: #FFF;
    text-align: center;
    font-family: var(--font-poppins);
    font-size: var(--text-headline-3);
    font-style: normal;
    font-weight: 400;
    line-height: var(--text-lineheight-headline-3);
}