.slick- {
  position: relative;
  /* width: 489px; */
  aspect-ratio: 489 / 733.5;
  overflow: hidden;
  margin-right: 56px;
  /* border-radius: 10px; */
  /* background: url('/assets/gowok.png') lightgray 0.745px -18.357px / 100% 102.876% no-repeat; */
  box-shadow:
    /* 0 0 142.632px 0 #ECE5DA,
    0 0 81.504px 0 #ECE5DA,
    0 0 47.544px 0 #ECE5DA,
    0 0 23.772px 0 #ECE5DA, */
    0 0 6.792px 0 #ECE5DA,
    0 0 3.396px 0 #ECE5DA;
}

.slick-center {
  transform: scale(1.1);
  opacity: 1;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 10;
}

.slick-center .image {
  box-shadow: 0 10px 30px #ECE5DA;
}

.slick-center .pe-xl .title {
  /* headline-3 */
  font-family: var(--font-playfair-display);
  font-size: var(--text-headline-3);
  font-style: var(--fontstyle-headline-3);
  font-weight: var(--fontweight-headline-3);
  line-height: var(--text-lineheight-headline-3);
}

.slick-slide .title {
  /* sub-heading-light */
  font-family: var(--font-poppins);
  font-size: var(--text-subheading);
  font-style: var(--fontstyle-subheading-light);
  font-weight: var(--fontweight-subheading-light);
  line-height: var(--text-lineheight-subheading);
}
