:global(.slick-center) .posterImage {
  position: relative;
  transform: translateX(-300px);
  width: 489px;
  aspect-ratio: 489 / 733.5;
  overflow: hidden;
  border-radius: 10px;
  background: url('/assets/gowok.png') lightgray 0.745px -18.357px / 100% 102.876% no-repeat;
  box-shadow:
    0 0 142.632px 0 #ECE5DA,
    0 0 81.504px 0 #ECE5DA,
    0 0 47.544px 0 #ECE5DA,
    0 0 23.772px 0 #ECE5DA,
    0 0 6.792px 0 #ECE5DA,
    0 0 3.396px 0 #ECE5DA;
}

:global(.slick-slide) .posterImage {
  position: relative;
  transform: translateX(-300px);
  width: var(--Card-Poster_VFXa, 432px);
  aspect-ratio: 2 / 3;
  overflow: hidden;
  border-radius: 10px;
  background: url('/assets/darah_nyai.png') lightgray -13.889px -8.391px / 107.117% 102.271% no-repeat;
}

@layer utilities {
  :global(.slick-center) .posterWrapper {
    @apply flex flex-col items-start;
    gap: var(--container-spacing-l);
  }
  
  :global(.slick-slide) .posterWrapper {
    @apply flex flex-col items-start;
    gap: var(--container-spacing-md);
  }

  :global(.slick-center) .posterTitle {
    color: #d81919;
    /* headline-3 */
    font-family: var(--font-playfair-display);
    font-size: var(--text-headline-3);
    font-style: var(--fontstyle-headline-3);
    font-weight: var(--fontweight-headline-3);
    line-height: var(--text-lineheight-headline-3);
  }
  
  :global(.slick-slide) .posterTitle {
    @apply self-stretch;
    color: #FFF;
    /* sub-heading-light */
    font-family: var(--font-poppins);
    font-size: var(--text-subheading);
    font-style: var(--fontstyle-subheading-light);
    font-weight: var(--fontweight-subheading-light);
    line-height: var(--text-lineheight-subheading);
  }
}

